<form [formGroup]="form">
  <mat-form-field>
    <input matInput required formControlName="name" placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput formControlName="description" placeholder="Description" rows="4"></textarea>
  </mat-form-field>

  <mat-form-field *ngIf="model?.progressable">
    <input matInput formControlName="deadline" [matDatepicker]="deadlineDatepicker" placeholder="Optional deadline">
    <mat-datepicker-toggle matSuffix [for]="deadlineDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #deadlineDatepicker (selectedChanged)="updateDateTime($event)"></mat-datepicker>
  </mat-form-field>

  <div>
    <mat-slide-toggle (change)="onChangeVisible($event)" [checked]="model.visible">
        <span *ngIf="model.visible">Unit can be seen by students</span>
        <span *ngIf="!model.visible">Unit cannot be seen by students</span>
    </mat-slide-toggle>
  </div>

  <mat-form-field>
    <input matInput formControlName="visibleFromDate" [matDatepicker]="visibleFromDateDatepicker" placeholder="Students can see this Unit from" [disabled]="model.visible">
    <mat-datepicker-toggle matSuffix [for]="visibleFromDateDatepicker" [disabled]="model.visible"></mat-datepicker-toggle>
    <mat-datepicker #visibleFromDateDatepicker></mat-datepicker>
  </mat-form-field>
</form>
