<div class="code-kata-unit-form">
  <mat-form-field *ngIf="model?.progressable">
    <input matInput formControlName="deadline" [matDatepicker]="deadlineDatepicker" placeholder="Optional deadline">
    <mat-datepicker-toggle matSuffix [for]="deadlineDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #deadlineDatepicker (selectedChanged)="updateDateTime($event)"></mat-datepicker>
  </mat-form-field>

  <strong>Code-Kata</strong>

  <div class="info-text">
    <mat-icon>info</mat-icon>
    Separate definition, coding and test areas with "{{areaSeperator}}".
  </div>
  <div class="info-text">
    <mat-icon>info</mat-icon>
    Your students can only edit the code area.
  </div>

  <ace-editor class="user-code-editor"
              #codeEditor
              [(text)]="wholeInputCode"
              [mode]="'javascript'"
              [theme]="'github'"
              [readOnly]="false">
  </ace-editor>
</div>

<div *ngIf="logs!==undefined" class="logs-title">
  Logs:
  <pre>{{logs}}</pre>
</div>
<button mat-raised-button (click)="validate()">Validate</button>

